.container{
    background: rgba(255,255,255,.70);
    width: 400px;
    height: 470px;
    position: absolute;
    top: 20%;
    left: 35%;
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
